body{
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 1px;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-animation: backgroundScroll 30s linear 1;
  -webkit-animation-fill-mode: both;
  animation: backgroundScroll linear 30s 1;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  -webkit-animation-direction: alternate-reverse;
  background-image: url('https://media.istockphoto.com/videos/loopable-superhero-team-silhouette-with-waving-capes-animation-video-video-id1253016663?s=640x640');
}

@keyframes backgroundScroll {
  from {background-position: 0 0;}
  to {background-position: -200px 0px;}
}

@-webkit-keyframes backgroundScroll {
  from {background-position: 0 0;}
  to {background-position: -200px 0px;}
}